<!DOCTYPE html>
<head>
<title>HOME </title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<ul style = 'text-align: left'>
  <li><a href="/">Home </a></li><li><a href="/writings"> Writings</a></li>
</ul>

<body style ="text-align: center">
<h3><b>Welcome to the Related Word API</b></h3>

<div id ="sent" style = 'text-align: center;font-size:14px;font-family: Garamond;'>{{sent}}</div>
 <p>Note that some words may not be in the vocab</p>
 <form id = 'wform' method="POST" style ="text-align: center">
  <label for="word">Search related words:</label>
  <input type="text" id="w" value="go">  <input type="submit" value="Search">
</form> 
<br></br>
</body>

<script>

function generate_table(data) {
  var t = document.getElementById('norep'); 
  if(t)t.parentNode.removeChild(t);
  
  var w = data.words;
  var p = data.probs;
  var body = document.getElementsByTagName("body")[0];
  // creates a <table> element and a <tbody> element
  var tbl = document.createElement("table");
  tbl.setAttribute("id", "norep");
  var tblBody = document.createElement("tbody");
  // creating all cells
  for (var i = 0; i < w.length; i++) {
    // creates a table row
    var row = document.createElement("tr");

    for (var j = 0; j < 2; j++) {
      // Create a <td> element and a text node, make the text
      // node the contents of the <td>, and put the <td> at
      // the end of the table row
      var cell = document.createElement("td");
      if (j==0){var cellText = document.createTextNode(w[i]);}
      else{var cellText = document.createTextNode(p[i]);} 
      cell.appendChild(cellText);
      row.appendChild(cell);
    }
    // add the row to the end of the table body
    tblBody.appendChild(row);
  }
  // put the <tbody> in the <table>
  tbl.appendChild(tblBody);
  // appends <table> into <body>
  body.appendChild(tbl);
  // sets the border attribute of tbl to 2;
  tbl.setAttribute("border", 2);
  tbl.setAttribute("align", 'center');
}

$(document).ready(function () {
  $("form").submit(function (event) {
    var formData = {word: $("#w").val(),};
    // alert(formData);
    $.ajax({
      type: "POST",
      url: "/related/"+ formData.word,
      data: formData,
      dataType: "json",
      encode: true,
      success: function(data){
        generate_table(data);
      } 
    });
    event.preventDefault();
  });
}); 
</script>
</html>